.bg-black{
    background-color: black;
}
img{
    width: 100%;
    height: 100%;
}
.font-div{
    width: 30%;
}
/*
////responsive ////*/

@media only screen and (min-width: 1199px){
    .font-div{
        padding: 43.9px 0px!important;
    }
}